---
layout: default
---
{%- assign _papers = site.papers | sort: 'order' -%}
{%- include header.html scrolly_nav=_papers -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _category in _papers -%}
		{%- include section.html title=_category.title photo=_category.cover-photo photo-alt=_category.cover-photo-alt auto-header=_category.auto-header content=_category.content -%}
	{%- endfor -%}
</div>